body,html{
    height:100%;
    padding:0px;
    margin:0px;
}
#fondo{
    height:100%;
    width:180%;
    position:fixed;
    z-index: -3;
}
#fondo img{
    height: 100%;
    width: 100%;
}
#tierra{
    height: 32%;
    width: 32%;
    position: fixed;
    bottom: 28px;
    z-index: -2;
    left: -29px;
}
#tierra img{
    width: 160%;
    height: 115%;
}
.luna{
    height: 42%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: -1;
}
.luna img{
    width: 106%;
    height: 100%;
}
.barra{
    background-color: white;
    border-style: solid;
    width:28.5%;
    height: 20px;
    position:fixed;
    bottom:25px;
    left: 0px;
    right:0px;
    margin:0 auto;
    z-index: 0;
}
#fuel{
    background-color: green;
    max-width: 100%;
    width:100%;
    height: 100%;
}
.desplegable{
    position: fixed;
    display: inline-block;
    right: 0px;
    margin-top: 0px;
    z-index: 1;
}
.desplegable img{
    height:100px;
    width: 100px;
}
#pVelocidad{
    text-align: center;
    background-color: #66FF33;
    border-style: ridge;
    border-color: #80B280;
    width: 33%;
    height: 7%;
    position: fixed;
    top: 25px;
    left: 10px;
    margin: 0 auto;
    z-index: 0;
    font-size: 115%;
    font-weight: bold;
    padding-bottom: 2%;
    padding-top: 2%;
    font: oblique bold 110% cursive;
}
#pAltura{
    text-align: center;
    background-color: #66FF33;
    border-style: ridge;
    border-color: #80B280;
    width: 33%;
    height: 7%;
    position: fixed;
    top: 125px;
    left: 10px;
    margin: 0 auto;
    z-index: 0;
    font-size: 115%;
    font-weight: bold;
    padding-bottom: 2%;
    padding-top: 2%;
    font: oblique bold 110% cursive;
}
#nave{
    text-align:center;
    position:fixed;
    top:10%;
    width:100%;
    height:20%;
}
#nave img{
    height:110%;
}
#final1,#final2,#ayuda{
    position: absolute;
    text-align: center;
    display: none;
    width: 87%;
    margin-top: 50%;
    margin-left: 7%;
    z-index: 1;
}
#ayuda{
    margin-top: 45%;
    margin-left: 12%;
    width: 78%;
    display: none;
}
#titulo1,#titulo2,#tituloA{
    background-color: rgb(0, 213, 249);
    font: oblique bold 100% cursive;
    color: black;
}
#parrafo1,#parrafo2,#parrafoA{
    background-color: rgb(193, 255, 0);
    padding-bottom: 1%;
    font: oblique bold 80% cursive;
    color: rgb(230, 40, 12);
}
#cerrar1M,#cerrar2M,#cerrarAM{
    font: oblique bold 100% cursive;
    background-color: #00b300;
    border-color: black;
}
#cerrar1M:hover,#cerrar2M:hover,#cerrarAM:hover{
    transform: scale(1.2,1.2);
    transition-duration: 0.15;
    background-color: #00ff00;
}
#celebracion{
    display: none;
    margin-top: -47%;
}
#celebracion img{
    width: 50%;
}
#explosion{
    display: none;
    margin-top: -41%;
}
#explosion img{
    width: 50%;
}
#desplegable img{
    width: 40%;
    margin-left: 102%;
}
#menu{
    padding:12px;
    border:none;
    background-color: transparent;
    position: fixed;
    margin-top: -152%;
    margin-left: -2%;
}
#opciones{
    display: none;
    list-style: none;
    left: 15px;
    position: absolute;
    background-color: #7FFF00;
    min-width: 166px;
    z-index: 0;
    color: black;
    text-align: center;
    font: oblique bold 240% cursive;
    padding: 12px 16px;
    margin-left: 22%;
    margin-top: -97%;
}
#playM:hover,#resetM:hover,#helpM:hover{
    background-color: yellow;
}
#desplegable img:hover{
    background-color: transparent;
    transform: scale(1.15,1.15);
    transition-duration: 0.15;
}
#press{
    background-color: #ff3300;
    font: oblique bold 120% cursive;
    margin-top: 138%;
    margin-left: 72.5%;
    padding: 4%;
    border-color: black;
}
#press:hover{
    background-color: #ffa31a;
    transform: scale(1.2,1.2);
    transition-duration: 0.15;
}
#play,#reset,#help,#pause,#cerrar1, #cerrar2, #cerrarA{
    display: none;
}
